.playerLineup{
    background-color:gray;
    width: 30vw;
    height:65vh;
    text-align:center;
    vertical-align:middle;
    position:absolute;
    top: 20%
}

.teamName{
    vertical-align: middle;
}

.teamLeader{
    height:100%;
    width:100%;
}

.regular{
    height:100%;
    width:100%;
    box-shadow: 5px 5px 5px rgba(0,0,0);
}

.notSelected{
    position:absolute;
    left:47%;
    top: 70%;
}

.approveSign{
    position:absolute;
    left:15%;
    top:5%;
    height:10vh;
    width:30vh;
}

.rejectSign{
    position:absolute;
    right:15%;
    top:5%;
    height:10vh;
    width:30vh;
}

.approves{
    position:absolute;
    left:15%;
    top:30%;
    height:50vh;
    width:30vh;
}

.rejects{
    position:absolute;
    right:15%;
    top:30%;
    height:50vh;
    width:30vh;
}

.voteResultSign{
    position:absolute;
    left:30%;
    top:75%;
    height:10vh;
    width:30vh;
}

.vote{
    position:absolute;
    right:51.7vw;
    top:20%;
    height:10vh;
    width:30vh;
    font-size:4em;
    
}

.board{
    position:relative;
    height:35vh;
    width:60vw;
    left:32.5vw;
}

.OnQuestTable{
    position:relative;
    height:7.5vh;
    width:60vw;
    left:32.5vw;
    top:15vh;
}

.NotOnQuestTable{
    position:absolute;
    height:7.5vh;
    width:60vw;
    left:32.5vw;
    top:70vh;
    
}

.topOffQuestTable{
    position:relative;
    height:7.5vh;
    width:60vw;
    left:32.5vw;
    top:80px;
}

.Player{
    position:relative;
    height:7.5vh;
    width:12vw;
    left:50%;
    top:30vh;
}

.page-splitter{
height:700px;
width:1500px;

display:flex;
}

.lineup{
width:450px;
height:700px;

display:flex;
flex-direction:column;
justify-content:flex-start;
align-items:center;
}

.stats{
width:1050px;
height:700px;
display:flex;
justify-content:center;
}

.goodtime{
    height:114px;
    width:400px;
    border: 3px solid black;
    box-shadow: 5px 5px 5px rgba(0,0,0);
}

.averagetime{
    height:57px;
    width:200px;
    border: 3px solid black;
    box-shadow: 5px 5px 5px rgba(0,0,0);
}

.non-team-leaders{
    height:580px;
    width:406px;
    display:flex;
    flex-direction:column;
    align-items:flex-start;
}

.stats-center{
    width:1030px;
    height:700px;
    display:flex;
    flex-direction:column;
}

.top-bottom-space{
width:1030px;
height:33px;
}

.questers{
width:1030px;
height:63px;
display:flex;
justify-content:center;
align-items:center;
}

.btween-space{
width:1030px;
height:100px;
}

.el-bordo{
width:1030px;
height:245px;
display:flex;
flex-direction:column;
align-items:center;
}

.play-top{
height:63px;
width:1030px;
display:flex;
justify-content:center;
align-items:center;
}

.play-bottom{
height:63px;
width:1030px;
display:flex;
justify-content:center;
align-items:center;
}

.el-bordo-top-portion{
border-top: 3px solid black;
border-right: 3px solid black;
border-left: 3px solid black;
width:1024px;
height:144px;
display:flex;
flex-direction:column;
background-color:rgb(139, 139, 139);
box-shadow: 5px 5px 5px rgba(0,0,0);
}

.el-bordo-bottom-portion{
height:95px;
width:512px;
border-right: 3px solid black;
border-left: 3px solid black;
border-bottom: 3px solid black;
display:flex;
flex-direction:column;
align-items:center;
background-color:rgb(139, 139, 139);
box-shadow: 5px 5px 5px rgba(0,0,0);
}

.most-of-top{
width:1024px;
height:140px;
display:flex;
flex-direction:column;
align-items: center;
}

.rest-of-top{
width:1024px;
height:1px;
display:flex;
}

.here-for-border-fix{
    height:1px;
    width:256px;
    border-bottom:3px solid black;
}

.not-here-for-border-fix{
    height:1px;
    width:514px;
}

.for-bordo-title{
    height:30px;
    width:1024px;
    font-family:cursive;
    font-size:30px;
    font-weight:bold;
    position:relative;
    top:-8px;
}

.for-2-fails{
    height:20px;
    width:1024px;
    display:flex;
    position:relative;
    top:-12px;
}

.jjj{
height:20px;
width:460px;
position:relative;
}

.lll{
    height:20px;
    width:516px;
    font-family:cursive;
    font-weight:bold;
    font-size:20px;
}

.for-los-questos{
    height:90px;
    width:900px;
    display:flex;
    justify-content:space-between;
    position:relative;
    top:-10px;
}

.el-questo{
    height:83px;
    width:83px;
    border-radius:50%;
    border:3px solid black;
    
}

.for-attempt-title{
    width:512px;
    height:20px;
    font-size:20px;
    font-weight:bold;
    font-family:cursive;
    position:relative;
    top:-12px;
}

.for-los-attemptos{
    width:450px;
    height:75px;
    display:flex;
    justify-content:space-between;
    position:relative;
    top:-5px;
}

.el-attempto{
    height:68px;
    width:68px;
    border-radius:50%;
    border:3px solid black;
}

#attempto-currento{
    background-color:rgb(44, 228, 44);
    box-shadow: 3px 3px 3px rgba(0,0,0),
    inset 3px 3px 5px rgba(255, 255, 255, 0.5);
}

#attempto-no-currento{
    background-color:rgb(22, 15, 15);
    box-shadow: 3px 3px 3px rgba(0,0,0),
    inset 3px 3px 5px rgba(200, 200, 200, 0.5);
}

#el-questo-unsureo{
background-color:rgb(202, 202, 62);
font-family:cursive;
font-weight:bold;
font-size:4em;
box-shadow: 3px 3px 3px rgba(0,0,0),
inset 3px 3px 5px rgba(255, 255, 255, 0.5);
}

#el-questo-goodo{
background-color:rgb(51, 51, 175);
box-shadow: 3px 3px 3px rgba(0,0,0),
inset 3px 3px 5px rgba(200, 200, 200, 0.5);
}

#el-questo-bado{
background-color:rgb(194, 34, 34);
box-shadow: 3px 3px 3px rgba(0,0,0),
inset 3px 3px 5px rgba(255, 255, 255, 0.5);
}

.votamos{
    display:flex;
    flex-direction:column;
    align-items:center;
    
}

.tienen-que-votar{
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    align-content:flex-start;
    /* box-shadow: 3px 3px 3px rgba(0,0,0);
    border:5px solid black; */
    width:650px;
    height:290px;
}

h1,h2,h3,h4,h5,h6{
    font-family:cursive;
}

#r{
    position:relative;
    top:-15px;
    
}

#r:hover{
}

#y{
    position:relative;
    top:-25px;
}

#u{
    height:30px;
}

.los-votos{
    height:1500px;
    width:100vw;
    display:flex;
    flex-direction:column;
    align-items:center;
}

.approve-reject-thumbs{
    height:100px;
    width:900px;
    display:flex;
    justify-content:space-between;
}

.thumb{
    height:100px;
    width:100px;
}

#downer{
    position:relative;
    top:-17px;
}

#thinker{

}

#approver{
    transition: transform 2s;
    transform: translate(-400px,0px);
}

#rejecter{
    transition: transform 2s;
    transform: translate(400px,0px);
}

.fullness{
    height:900px;
    width:100vw;
    display:flex;
    flex-direction:column;
    align-items:center;
}

.bh{
    width:1550px;
    height:250px;
    display:flex;
    flex-direction:column;
    align-items:center;
}

.success-fail-symbol{
    display:flex;
    justify-content:space-between;
    height:100px;
    width:1100px;
}

.success-symbol{
    height:100px;
    width:100px;
    display:flex;
}

.fail-symbol{
    height:100px;
    width:100px;
}

.success-fail-instruction{
    font-size:2em;
    font-weight:bold;
    font-family:cursive;
}

.more-spacious{
    height:30px;
    width:50px;
}

.x{
    height:100px;
    width:1050px;
    display:flex;
    justify-content:center;
    align-content:center;
}

.p{
    display:flex;
    justify-content:space-between;
    width:1000px;
    height:100px;
}

#m{
    font-size:3em;
}

#far-right-execution{
    /* transition: transform 1s;
    transform: translate(400px,0px);
    position:relative; */
}

#center-execution{
    
    /* transition: transform 1s;
    transform: translate(0px,0px); */
    
}

#bottom-execution{
    transition: transform 2s;
    transform: translate(400px,0px);
    
}


.ah{
    height:110px;
    width:115px;
    position:absolute;
    margin-top:500px;
    transition: transform 2s;
}


.ah:disabled{
    transform: translateX(1000px);
}

.oh{
    height:110px;
    width:115px;
    position:absolute;
    margin-top:500px;
    transition: transform 1s;
}

.oh:disabled{
    transform: translateY(1000px);
}

.el-execution-o-resulto{
    font-size:10em;
    font-family:cursive;
    font-weight:bold;
    position:relative;
    top:-120px;
}

.killin-merlin-man{
    height:700px;
    width:100vw;
    display:flex;
    align-items:center;
    justify-content:center;
}

.gonna-win{
    height:750px;
    width:1400px;
    display:flex;
    flex-direction:column;
}

.nonteamleader-and-space{
    display:flex;
    flex-direction:column;
    height:87px;
    width:400px;
}

.teamleader-and-space{
    display:flex;
    flex-direction:column;
    height:144px;
    width:400px;
}

.teamleader-image-room{
display:flex;
height:144px;
width:1400px;
}

.tmcb{
    height:144px;
    width:210px;
}

.knife-div{
    height:144px;
    width:135px;
    transition: transform 1s;
}

.throwing-knife{
    position:relative;
    top:20px;
    left:20px;
    height:80px;
    width:80px;
    transform: rotate(315deg);
}

#stationary{
    

}

#thrown{
    transform: translateX(-250px);
}

.nonteamleader-image-room{
display:flex;
height:87px;
width:600px;
}

.box-for-displayer-of-identity-teamleader{
    height:114px;
    width:114px;
    border: 3px solid black;
    box-shadow: 5px 5px 5px rgba(0,0,0);
}

.box-for-displayer-of-identity-nonteamleader{
    height:57px;
    width:57px;
    border: 3px solid black;
    box-shadow: 5px 5px 5px rgba(0,0,0);
}

.displayer-of-identity-teamleader{
height:114px;
width:114px;

background-color:rgb(120, 120, 120);
box-shadow:inset 10px 10px 10px rgba(155, 155, 155, 10)
}

.displayer-of-identity-nonteamleader{
height:57px;
width:57px;
background-color:rgb(120, 120, 120);
box-shadow:inset 10px 10px 10px rgba(155, 155, 155, 10)
}

#me-so-evil{
    background-color:rgb(204, 58, 58);
    box-shadow:inset 10px 10px 10px rgba(254, 98, 98, 10)
}

.el-spaceo-topo{
    width:1400px;
    height:75px;
}

.el-spaceo-middleo{
    width:1400px;
    height:600px;
    display:flex;
    flex-direction:column;
    justify-content:center;
}

.el-spaceo-bottomo{
width:1400px;
height:75px;
display:flex;
justify-content:space-around;
}

.evil-wins-if{
    position:relative;
    top:2px;
}

.jkb{
    display:flex;
    height:75px;
    width:272px;
}

.this-is-the-end{
    height:700px;
    width:100vw;
    display:flex;
    justify-content:center;
}

.for-realsies{
    height:700px;
    width:1400px;
    display:flex;
    flex-direction:column;
    align-items:center;
}

.hbll{
    display:flex;
    width:1400px;
    height:350px;
}

.clyde{
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    align-items:center;
    align-content:center;
    width:600px;
    height:300px;
}

.marb{
    display:flex;
    justify-content:center;
    flex-wrap:wrap;
    align-content:center;
    width:200px;
    height:350px;
}

.lsb{
    display:flex;
    justify-content:center;
    align-items:center;
    align-content:center;
    width:600px;
    height:300px;
    flex-wrap:wrap;
}

.esc{
    display:flex;
    justify-content:center;
    flex-wrap:wrap;
    align-items:center;
    align-content:center;
    width:275px;
    height:70px;
    
}

.give-the-board-some-space{
    width:1400px;
    height:320px;
    display:flex;
    flex-direction:column;
    align-items:center;

}

#awesome-evil{
    background-color:rgb(204, 58, 58);
    box-shadow:inset 10px 10px 10px rgba(254, 98, 98, 10)
}

.me-so-awesome-evil{
    background-color:rgb(204, 58, 58);
    box-shadow:inset 10px 10px 10px rgba(254, 98, 98, 10)
}

.me-so-full{
    height:900px;
    width:100vw;
    display:flex;
    flex-direction:column;
    align-items:center;
}

.me-so-spacious{
    height:30px;
    width:50px;
}

.me-so-bh{
    width:1550px;
    height:250px;
    display:flex;
    flex-direction:column;
    align-items:center;
}

.eh{
    height:110px;
    width:115px;
    position:absolute;
    margin-top:500px;
    transition: transform 2s;
}


.eh:disabled{
    transform: translateX(1000px);
}