.top{
    background-color:tan;
}

.title {
    font-size:120px;
    font-family:cursive;
}

.holder-of-menu-options{
    display:flex;
    position:relative;
    flex-direction:row;
    text-align: center;
    height:40vh;
    width:50vw;
    left:25vw;
}

.menu-option{
position: relative;
height: 100%;
width: 25vw;
border-width:2px;
border-style:solid;
border-color:black;
}

.menu-option-icon{
height:80%;
}

.a{
    height:10%;
}

.choice-button{
    height:100%;

}