.Player{
    height:100%;
    width:100%;
    background-color:gray;
}

.playerNumber{
    position:relative;

}

.image{
    height:100%;
    width:100%;
}

.imageHolder{
    position:relative;
    height:80%;
    width:25%;
    left:12%;
    top:-70%;
}

.name{
    position:relative;
    font-size:1.5em;
    font-family:cursive;
    font-weight: bold;
    left:14%;
    top:-180%;
}